@forward './base/index';
@use './util/index' as variable;

header {
    background-color: variable.$header-bgcolor;
}

@mixin para-style($size){
    font-size: $size;
    font-weight:300;
    padding: 40px;
    text-align: justify;
}

p{
    @include para-style(14px);
}

nav {
    margin-top: 15px;

    ul li {
        display: inline-block;
        margin: 0 15px;

        a {
            display: inline-block;
            color: wheat;
            text-decoration: none;
            padding: 10px;
            transition: 0.4s;
            border-radius: 5px;
        }

        a:hover {
            background-color: black;
        }
    }
}

main {
    background-color: variable.$main-bgcolor;
}

footer {
    background-color: variable.$footer-bgcolor;
}