@forward './base/index';
@use './util/index' as variable;

header {
    background-color: variable.$header-bgcolor;
}

@mixin fontSize($value){
    @if $value == small{
        font-size: 14px;
    }
    @else if $value == medium {
        font-size: 16px;
    }
    @else{
        font-size: 20px;
    }
}

@mixin para-style(){
    // font-size: $size;
    font-weight:300;
    padding: 40px;
    text-align: justify;
    @include fontSize(large)
}



p{  
    @include para-style();
}

.about-p{
    @extend p;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 3px solid red;
}

nav {
    margin-top: 15px;

    ul li {
        display: inline-block;
        margin: 0 15px;

        a {
            display: inline-block;
            color: wheat;
            text-decoration: none;
            padding: 10px;
            transition: 0.4s;
            border-radius: 5px;
        }

        a:hover {
            background-color: black;
        }
    }
}

main {
    background-color: variable.$main-bgcolor;
}

footer {
    background-color: variable.$footer-bgcolor;
}

[class*='col-']{
    float: left;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100% / 12 * $i;
    }
}

// while loop
// $i: 1
// @while $i<13 {
//     .col-#{$i} {
//         width: 100% / 12 * $i;
//     }
//     $i: $i + 1;
// }

#loop::after {
    clear: both;
    content: none;
    display: table;
}